<div class="z-[999] hidden fixed inset-0 bg-black/50 flex items-center justify-center"
     data-controller="modal" id="<%= locals[:id] %>" data-action="click->modal#clickedModal">
  <div id="modal-content" tabindex="-1" class="overflow-y-auto overflow-x-hidden justify-center items-center md:inset-0">
    <%= render locals[:content] %>
  </div>
</div>