<div class="flex flex-col text-center items-center justify-center">
  <div class="w-3/4">
    <div class="p-4">
      <h1 class="text-4xl">Blogapp is an app where users can browse and create blogs.</h1>
      <p class="text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis aliquet enim, nec auctor dui. Mauris nec nibh et ex ultrices pretium. Nunc eget turpis id erat tristique viverra dignissim in nulla. Donec vel arcu mauris. Curabitur est ex, aliquet commodo placerat sit amet, bibendum eu justo. Morbi sodales est id libero imperdiet rhoncus. Fusce pretium, est vestibulum molestie vehicula, dolor justo congue sapien, a faucibus diam nibh id nisl. Nunc sit amet magna in dolor gravida sagittis. Nulla egestas turpis eget egestas cursus. Aliquam in mi eu nibh congue scelerisque. Sed erat urna, vehicula vel turpis eget, sodales feugiat enim. Nulla bibendum nisi id augue porta cursus. </p>
    </div>
    <div class="p-4">
      <h1 class="text-4xl">Blogapp is an app where users can browse and create blogs.</h1>
      <p class="text-md">Maecenas dictum lobortis vehicula. Nam et risus hendrerit, accumsan neque quis, congue elit. Curabitur et quam nec nisl rutrum aliquam. Sed vitae sapien ut elit scelerisque congue. Quisque non dictum justo. Curabitur sed interdum elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque commodo, mauris molestie ornare dapibus, quam nibh egestas nibh, vel porta odio ex eget dolor. Integer congue velit id metus vulputate, non laoreet odio molestie.  </p>
    </div>
    <div class="p-4">
      <h1 class="text-4xl">Blogapp is an app where users can browse and create blogs.</h1>
      <p class="text-md">Nullam gravida facilisis mi, id scelerisque dolor hendrerit non. Etiam tincidunt dolor quis scelerisque accumsan. Sed nec tellus id ipsum bibendum aliquet. Suspendisse libero dui, laoreet non congue et, malesuada ac massa. Ut imperdiet felis a nunc malesuada, sed sollicitudin lacus cursus. Fusce placerat commodo libero, facilisis posuere nibh facilisis ac. Nunc condimentum risus eu est pretium, id ornare erat porttitor. Nullam vehicula mauris a sapien elementum, ut vestibulum arcu pharetra. Pellentesque placerat quis orci vel ullamcorper. Sed maximus ligula vel est auctor auctor. Donec eget est neque. Duis dictum malesuada aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tincidunt lorem id massa scelerisque bibendum. Vestibulum nec placerat diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.  </p>
    </div>
    <div class="p-4">
      <h1 class="text-4xl">Blogapp is an app where users can browse and create blogs.</h1>
      <p class="text-md">Nulla luctus commodo dictum. Sed mattis, leo ut tempus viverra, ex quam pulvinar tellus, vitae condimentum erat ante nec tortor. Proin tempor, sapien dapibus feugiat fermentum, diam turpis placerat turpis, a tincidunt odio erat sit amet turpis. Sed congue bibendum felis, eget sollicitudin risus efficitur in. Curabitur aliquam sapien quis lacus consequat, vel sagittis dolor faucibus. Nam ac interdum odio, nec sagittis diam. Curabitur sed lacus nibh. Nam lobortis ipsum non fringilla cursus. Sed dapibus magna id vulputate fringilla. Donec imperdiet vehicula lorem, in hendrerit nibh tristique ut. Vestibulum tempor metus eu velit vulputate, in fermentum augue efficitur. Sed laoreet maximus maximus. Nullam mauris mi, fringilla dignissim dui sit amet, lacinia feugiat risus. Mauris sit amet velit id nulla sagittis feugiat et vitae eros.  </p>
    </div>
  </div>
</div>